/* Import your Mocha colors */
@import "mocha.css";

* {
    font-family: "CaskaydiaCove Nerd Font Mono";
    font-size: 16px;
    font-weight: bold;
}

/* The Bar Container */
.background {
    background-color: @crust;
    color: @overlay0;
}

/* Module Spacing & General Styling */
.widget {
    background: transparent;
    border: none;
    margin: 2px 4px;
    padding: 0 4px;
    transition: background 0.1s;
}

.widget:hover {
    background: rgba(26, 27, 38, 0.9);
    border-radius: 15px;
}

.workspaces button {
    color: #c0caf5;
    border: none;
    background: transparent;
    padding: 0 4px;
}

.workspaces button:hover {
    background: @surface1;
    color: @text;
}

.workspaces .focused {
    background: @surface0;
    color: @text;
    border-radius: 15px;
}

.volume { 
    color: @blue; 
}

.clock { 
    color: @maroon; 
}

.battery { 
    color: @green; 
}

.battery.critical {
    color: @red;
}

/* Custom Modules */
#custom-arch {
    color: @blue;
    font-size: 25px;
    margin-left: 5px;
    margin-right: -2px;
    padding: 0 10px;
}

#network {
    color: @yellow;
    font-size: 16px;
}
