[Unit]
Description=Enable Wake On LAN for Interface
After=network-online.target
Requires=network-online.target 

[Service]
Type=oneshot
ExecStart=/usr/bin/ethtool -s enp9s0 wol g

[Install]
WantedBy=multi-user.target
