[Desktop Entry]
Type=Application
Name=KDE Connect Daemon
Exec=kdeconnectd
Icon=kdeconnect
Terminal=false

# UWSM Specifics
X-UWSM-Startup-Slice=background
X-UWSM-Options=--type=service
