[Desktop Entry]
Type=Application
Name=KeePassXC
GenericName=Password Manager
Exec=/usr/bin/keepassxc %f
TryExec=/usr/bin/keepassxc
Icon=keepassxc
StartupWMClass=keepassxc
Terminal=false
Categories=Utility;Security;

# UWSM specific: ensure it waits for the graphical session
X-UWSM-Options=--wait-for-env=WAYLAND_DISPLAY
