[Unit]
Description=OBS Studio with Replay Buffer
After=graphical-session.target

[Service]
ExecStart=/usr/bin/obs --startreplaybuffer --disable-shutdown-check
Restart=on-failure

[Install]
WantedBy=graphical-session.target
