[Unit]
Description=Check for security updates daily

[Timer]
OnBootSec=2min
RandomizedDelaySec=30s
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
