[Unit]
Description=Clean paru AUR cache (keep last 3)

[Service]
Type=oneshot
ExecStart=-/usr/bin/find %h/.cache/paru/clone -maxdepth 1 -type d -exec /usr/bin/paccache -rk3 -q -c {} +

[Install]
WantedBy=default.target
