[Unit]
Description=Trim AUR build cache (Keep 3 versions)
ConditionPathExists=%h/.cache/paru/clone
ConditionDirectoryNotEmpty=%h/.cache/paru/clone

[Service]
Type=oneshot
IOSchedulingClass=idle
ExecStart=/usr/local/bin/paru-aur-trim
