[Unit]
Description=Monthly orphaned pacman package check

[Timer]
OnCalendar=monthly
RandomizedDelaySec=30s
Persistent=true

[Install]
WantedBy=timers.target
