[Unit]
Description=Daily systemd failed units check

[Timer]
OnCalendar=daily
RandomizedDelaySec=30s
Persistent=true

[Install]
WantedBy=timers.target
