[Unit]
Description=Check for failed systemd units

[Service]
Type=oneshot
ExecStart=/usr/local/lib/systemd-scripts/failed-units-check

[Install]
WantedBy=multi-user.target
