[Unit]
Description=Check for failed systemd units

[Service]
Type=oneshot
ExecStart=/usr/local/lib/systemd-scripts/check-units

[Install]
WantedBy=multi-user.target
