[Unit]
Description=Run Flatpak update daily

[Timer]
OnBootSec=2m
OnUnitActiveSec=1d
Persistent=true
RandomizedDelaySec=15m 

[Install]
WantedBy=timers.target
