[Unit]
Description=Fetch Gear Lever AppImage Updates
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=%h/dotfiles/systemd-user/.local/lib/systemd-scripts/gear-lever-autoupdates.sh
TimeoutStartSec=5m
Slice=background.slice
Nice=15
