[Unit]
Description=Hyprland Wallpaper Utility
ConditionEnvironment=WAYLAND_DISPLAY
After=graphical-session.target
PartOf=graphical-session.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/hyprpaper
Type=simple
Restart=on-failure

[Install]
WantedBy=graphical-session.target
