[Unit]
Description=Hyprland Idle Management Daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
Restart=always
ExecStart=/usr/bin/hypridle

[Install]
WantedBy=graphical-session.target
