[Unit]
Description=HyprWhenThen - React to hypr events
After=graphical-session.target
Wants=graphical-session.target
PartOf=hyprland-session.target

[Service]
Type=exec
ExecStart=/usr/bin/hyprwhenthen run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=hyprland-session.target
