[Unit]
Description=OBS Studio
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'rm -rf ~/.config/obs-studio/.sentinel'
ExecStart=/usr/bin/obs --startreplaybuffer
Restart=on-failure

[Install]
WantedBy=graphical-session.target
