[Unit]
Description=OBS Studio
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/env bash -c 'rm -rf %h/.config/obs-studio/.sentinel'
ExecStart=/usr/bin/obs 
; ExecStart=/usr/bin/obs --startreplaybuffer
Restart=on-failure
RestartSec=5s
StartLimitIntervalSec=60
StartLimitBurst=5
KillSignal=SIGKILL

[Install]
WantedBy=graphical-session.target
