[Unit]
Description=Pyprland - Hyprland-specific helper daemon
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/pypr
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
