[Unit]
Description=Wayland Status Bar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar
Type=simple
Restart=on-failure

[Install]
WantedBy=graphical-session.target
